<div class="dashboard-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="side" opened>
      <div class="sidebar-logo">
        <img src="images/LOGOGHOST_ONLYPNG_WHITE.png" alt="Logo" class="sidebar-logo-img">
      </div>
      <mat-nav-list>
        <mat-list-item>
          <a mat-button class="nav-button-createcommunity" href="#" (click)="showSection('createcommunity'); $event.preventDefault()">
            <mat-icon aria-hidden="true">add</mat-icon>
            Create Community
          </a>
        </mat-list-item>
        
        <mat-list-item>
          <a mat-button class="nav-button" href="#" (click)="showSection('home'); $event.preventDefault()">Home</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-button class="nav-button" href="#" (click)="showSection('library'); $event.preventDefault()">Library</a>
        </mat-list-item>
        <!-- <mat-list-item>
          <a mat-button class="nav-button" href="#" (click)="showSection('timeline'); $event.preventDefault()">Community Testing</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-button class="nav-button" href="#" (click)="showSection('workspace'); $event.preventDefault()">workspace</a>
        </mat-list-item> -->
        <br>
        <h6>My Communities</h6>
        
        <!-- Contenedor con scroll para las comunidades -->
        <div class="communities-container">
          <mat-list-item *ngFor="let workspace of arrUsr().userWorkspaces; let i = index" class="workspace">
            <a mat-button class="nav-button" href="#" (click)=" setCurrentWorkspaceId(workspace._id); showSection('workspace'); $event.preventDefault();">
              {{workspace.workSpaceName}}

            </a>
          </mat-list-item>
          <!--Se comprueba si arrUsr existe (en la carga de la página aún no ha acabado de recuperar todos los datos) y si no hay comunidades-->
          <div *ngIf="arrUsr()?.userWorkspaces?.length === 0"> 
            <p>User doesn't have any communities assigned</p>
          </div>
        </div>
        <br>
      </mat-nav-list> 
    </mat-sidenav>
    

    <mat-sidenav-content class="content-area">
      <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="drawer.toggle()">
          &nbsp;<mat-icon>menu</mat-icon>&nbsp;
        </button>

        <!-- Sección de perfil -->
        @if(cookieExists){
          <button mat-icon-button [matMenuTriggerFor]="profileMenu">
            <img [src]="imgUrl" alt="Perfil" class="user-avatar" />
          </button>        
  
          <mat-menu #profileMenu="matMenu" class="profile-menu">
            <div class="profile-header">
              <img [src]="imgUrl" alt="Foto del usuario" class="user-avatar-large" />
              <div class="profile-info">
                <span class="user-name">{{arrUsr().user}}</span>
                <span class="user-email" style="word-break: break-all;">{{arrUsr().mail}}</span>
              </div>
            </div>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="showSection('profile')"><mat-icon>person</mat-icon>My Profile</button>
            <mat-divider></mat-divider>
            <button style="color: red;" mat-menu-item (click)="onLogout()"><mat-icon style="color: red;">logout</mat-icon>Logout</button>
          </mat-menu>
        }
      </mat-toolbar>

      <div class="content-wrapper">
        <ng-container>
          <div>
            <router-outlet></router-outlet>
          </div>
        </ng-container>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>