/* ============================================================
Global Styles
============================================================ */
html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

/* ============================================================
Material Component Overrides
============================================================ */
.mdc-list-item {
  padding-left: 0;
  padding-right: 0;
}

/* ============================================================
Dashboard Layout Containers
============================================================ */
.dashboard-container {
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.sidebar-footer-letter {
  display: none;
}

/* .sidebar-footer-letter.collapsed-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30%;
  padding-left: 10%;
  max-width: 80%;
} */
.sidebar-footer-letter.collapsed-content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  padding-bottom: 10%;
  /* Puedes ajustar o eliminar paddings si ya no son necesarios */
}

.mat-sidenav-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.mat-sidenav-content {
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

.mat-sidenav-content.collapsed-content {
  margin-left: 70px !important;
}

.content-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.content-wrapper > div {
  width: 100%;
  height: 100%;
}

/* ============================================================
Navigation Button Icon
============================================================ */
.nav-button mat-icon {
  margin-top: 3%;
  margin-right: 8px;
  color: #66576C;
}

/* ============================================================
Sidenav and Sidebar
============================================================ */
.mat-sidenav {
  width: 250px;
  background: linear-gradient(to bottom, #fefcff, #ffffff);
  color: #66576c;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-radius: 0;
  overflow-y: auto;
  border-right: 3px solid #9C7AAA;
  transition: width 0.3s ease;
}

.mat-sidenav.collapsed {
  width: 80px;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.mat-sidenav.collapsed .nav-button:hover * {
  color: #9C7AAA !important;
}



.mat-sidenav.collapsed h6,
.mat-sidenav.collapsed .sidebar-letter,
.mat-sidenav.collapsed .nav-text {
  display: none;
}

.mat-sidenav.collapsed .sidebar-logo-img {
  max-width: 100%;
}

.mat-sidenav.collapsed .nav-button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 33%;
}

.mat-sidenav.collapsed .mat-nav-list {
  padding-left: 0;
  padding-right: 0;
}

.mat-sidenav.collapsed .nav-button .mat-icon {
  margin: 0 auto;
  padding-top: 11%;
}

.nav-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 16px;
}

/* ============================================================
Communities Container
============================================================ */
.communities-container {
  padding: 1rem;
  border-radius: 8px;
  max-height: 300px;
  overflow-y: auto;
}

.communities-container::-webkit-scrollbar {
  display: none;
}

/* ============================================================
Sidebar Logo and Divider
============================================================ */
.sidebar-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  padding: 15px;
  margin-bottom: 20px;
}

.sidebar-logo-img {
  max-width: 50%;
}

.sidebar-letter {
  max-width: 60%;
}

.sidebar-divider {
  width: 80%;
  margin: 10px auto;
  border-top: 2px solid #66576c;
  width: 80%;
  margin: 10px auto;
  border-top: 2px solid #66576c;
  opacity: 0.9;
}

/* ============================================================
Typography and Headings
============================================================ */
h6 {
  font-size: 20px;
  padding-top: 5%;
  padding-left: 10%;
  text-align: left;
  font-weight: bold;
  color: #66576c;
}

h1 {
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

.nav-text {
  display: inline-block;
  font-size: 19px;
  font-weight: 410;
  color: #726173;
  position: relative;
  top: -0.3rem;
}

/* ============================================================
Navigation List Item
============================================================ */
.nav-list-item {
  color: #66576c !important;
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* ============================================================
Toolbar and Profile
============================================================ */
.mat-toolbar {
  background-color: #9C7AAA;
  color: #ffffff;
  justify-content: space-between;
  background-color: #9C7AAA;
  color: white;
  height: 64px;
}

/* Contenedor flexible para el app-toolbar */
.toolbar-center {
  flex: 1 1 auto;
  min-width: 0;
  margin: 0 8px;
}

.user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

button[mat-icon-button] {
  display: flex;
  align-items: center;
  margin-left: 16px;
  font-size: 1.5rem;
  width: 48px;
  height: 48px;
}

/* ============================================================
Profile Menu
============================================================ */
.profile-menu {
  min-width: 200px;
  padding: 8px 0;
}

.profile-header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.user-avatar-large {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 12px;
}

.profile-info {

  background-color: rgba(125, 94, 125, 0.8);

  border-radius: 12px;
  border: 2px solid rgba(76, 71, 78, 0.8);


  color: #fff;
  text-align: center;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

.user-name {
  font-size: 1.5rem;
}

.user-email {
  font-size: 0.7rem;
  color: #666;
  margin-top: 2px;
}

mat-divider {
  margin: 8px 0;
}

mat-menu-item {
  padding: 10px 20px;
  font-size: 0.9rem;
  color: #333;
}

mat-menu-item:hover,
mat-menu-item:focus {
  outline: 2px solid #9C7AAA;
}

.logout-button {
  font-weight: bold;
  color: #dfdfdf;
}

.logout-button:hover,
.logout-button:focus {
  background-color: #f8d7da;
  outline: 2px solid #9C7AAA;
}

/* ============================================================
Workspace Buttons
============================================================ */
.workspace {
  background-color: #292929;
  border-radius: 30px !important;
  margin-bottom: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  height: 50px;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease,
    background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.workspace:hover,
.workspace:focus {
  transform: scale(1.03);
  background-color: #7d5e7d;
  color: #ffffff;
  outline: 2px solid #9C7AAA;
}

.workspace a {
  pointer-events: auto;
  all: unset;
  pointer-events: auto;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

/* ============================================================
Other Dashboard Sections
============================================================ */
.dashboard-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.community-list {
  flex: 0 0 33.33%;
  background-color: #f8f8f8;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  border-radius: 8px;
}

.main-content {
  flex: 1;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.nav-community-list {
  background-color: pink;
  padding: 10em;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

