<div class="dashboard-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="side" opened class="sidenav">
      <div class="sidebar-logo">
        <img src="images/LOGOGHOST_ONLYPNG_PURPLE.png" alt="Logo" class="sidebar-logo-img">
        <img src="images/LETTERING_FINAL_PURPLE.png" alt="Letter" class="sidebar-letter">
      </div>

      <div class="sidebar-divider"></div>

      <mat-nav-list>
        <mat-list-item>
          <a mat-button class="nav-button-createcommunity" href="#"
             (click)="showSection('createcommunity'); $event.preventDefault()">
            <mat-icon aria-hidden="true">add</mat-icon>
            Create Community
          </a>
        </mat-list-item>
        <mat-list-item>
          <a mat-button class="nav-button" href="#"
             (click)="showSection('home'); $event.preventDefault()">
            <mat-icon>home</mat-icon>
            Home
          </a>
        </mat-list-item>
        <mat-list-item>
          <a mat-button class="nav-button" href="#"
             (click)="showSection('library'); $event.preventDefault()">
            <mat-icon>local_library</mat-icon>
            Library
          </a>
        </mat-list-item>
        <div class="sidebar-divider"></div>
        <!-- Componente adicional: lista de comunidades -->
        <app-communitylist (sectionChange)="onSectionChange($event)"></app-communitylist>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content-area">
      <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <!-- Contenedor flexible para el app-toolbar -->
        <div class="toolbar-center">
          <app-toolbar [currentSection]="selectedSection"></app-toolbar>
        </div>

        <!-- Botón de perfil con imagen centrada -->
        <button mat-icon-button class="profile-button" [matMenuTriggerFor]="profileMenu">
          <img [src]="imgUrl" alt="Perfil" class="user-avatar">
        </button>

        <!-- Menú de perfil -->
        <mat-menu #profileMenu="matMenu" class="general-menu">
            <div class="profile-info">
              <span class="user-name">{{ arrUsr().user }}</span>
              <span class="user-email">{{ arrUsr().mail }}</span>
            </div>

          <div class="divider-container">
            <mat-divider></mat-divider>
            <img [src]="imgUrl" alt="Perfil" class="divider-avatar">
          </div>

          
          <button mat-menu-item (click)="showSection('profile')">
            <mat-icon class="menu-button">person</mat-icon>
            My Profile
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="onLogout()">
            <mat-icon style="color: red;" class="menu-button">logout</mat-icon>
            <span style="color: red;">Logout</span>
          </button>
        </mat-menu>
      </mat-toolbar>

      <div class="content-wrapper">
        <ng-container class="nav-community-list">
          <router-outlet></router-outlet>
        </ng-container>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
