<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <!-- Formulario de inicio de sesión -->
      <form (ngSubmit)="onSubmit()">
        <!-- Campo para el nombre de usuario -->
        <mat-form-field class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" [(ngModel)]="username" name="username" required>
        </mat-form-field>

        <!-- Campo para la contraseña -->
        <mat-form-field class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required>
        </mat-form-field>

        <!-- Botón para iniciar sesión -->
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Iniciar Sesión</button>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <!-- Opción para registrarse -->
      <span>¿No tienes cuenta todavía?</span>
      <button mat-button color="accent" (click)="goToRegister()">Registrarse</button>
    </mat-card-actions>
  </mat-card>
</div>