**/node_modules
**/apis.http

back/js/.env
back/js/img/img_profile/** 
!back/js/img/img_profile/.gitkeep

back/js/img/img_profile_cut/**
!back/js/img/img_profile_cut/.gitkeep
!back/js/img/img_profile_cut/icon_default.jpg
!back/js/img/img_profile_cut/icon_default.png
!back/js/img/img_profile_cut/icon_default.jpeg
