<div class="login-container">
  <!-- Lado Izquierdo: Imagen de Fondo -->
  <div class="left-side"></div>

  <!-- Lado Derecho: Logo, Lettering y Formulario -->
  <div class="right-side">
    <!-- Contenedor para el logo y lettering -->
    <div class="logo-container">
      <img src="images/LOGOGHOST_ONLYPNG_PURPLE.png" alt="Logo" class="login-logo">
      <img src="images/LETTERING_FINAL_PURPLE.png" alt="Lettering" class="login-letter">
    </div>

    <!-- Tarjeta de Recuperación -->
    <mat-card class="login-card">
      <p class="youremail">Password Recovery:</p>
      <mat-card-content>
        <form (ngSubmit)="onSubmit(emailInput.value)" ngNativeValidate>
          <!-- Campo de Email -->
          <mat-form-field class="full-width">
            <mat-label>Your e-mail</mat-label>
            <input matInput type="email" [(ngModel)]="email" name="email" #emailInput required>
          </mat-form-field>

          <!-- Botón de Continuar -->
          <div class="button-container">
            <button mat-raised-button type="submit">Continue</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
