/* Contenedor principal: Centrar logo y tarjeta de ingreso de email */
.login-container { 
  display: flex;
  flex-direction: column; /* Alinear logo y tarjeta en columna */
  justify-content: flex-start; /* Alinear elementos al principio (arriba) */
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background: linear-gradient(to bottom, #66576C, #292929);
  padding: 20px; /* Añadir algo de padding para pantallas pequeñas */
  padding-top: 60px; /* Añadir algo de padding superior para darle espacio bajo la toolbar */
}


.login-logo-container {
  display: flex;
  flex-direction: row; /* Alinear logo y tarjeta en fila */
  justify-content: center;
  align-items: center;
  padding: 15px;
}

/* Estilo para el logo */
.login-logo{
  max-width: 12%; /* Ajustamos el tamaño del logo */
  width: 100%;
  opacity: 0.80;
}

.login-letter {
  max-width: 30%; /* Ajustamos el tamaño del logo */
  width: 100%;
  opacity: 0.80;
}
/* Estilo para el título de "Cambio de contraseña" */
.login-title {
  font-family: 'Poppins', sans-serif; /* Fuente elegante y geométrica */
  font-size: 24px; /* Aumenta el tamaño del texto */
  color: #e8e8e8; /* Color de texto gris claro */
  text-align: center; /* Centrar el título */
  margin-bottom: 20px; /* Espacio inferior para separar del formulario */
  letter-spacing: 1px; /* Espaciado entre letras */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Sombra para darle profundidad */
}

/* Estilo de la tarjeta de ingreso de email */
.login-card {
  width: 600px;
  padding: 20px;
  background-color: #66576C; /* Color de fondo de la tarjeta */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra suave */
  border-radius: 12px; /* Bordes redondeados */
  margin-top: 20px; /* Espacio entre el logo y el formulario */
}

/* Asegurar que los elementos llenen todo el ancho */
.full-width {
  width: 100%;
}

/* Cambiar el color del título en la tarjeta */
mat-card-title {
  color: #7a7777; /* Gris casi blanco */
  text-align: center; /* Centrar el texto */
  width: 100%; /* Asegurarse de que ocupa todo el ancho */
}

/* Estilo para los botones de la tarjeta */
.button-container {
  margin-top: 20px; /* Espacio entre el input y el botón */
}

.button-container button {
  background-color: #232223; /* Fondo oscuro */
  color: #e8e8e8 !important; /* Color del texto (gris casi blanco) */
  padding: 12px;
  width: 100%; /* Llenar todo el ancho */
  border-radius: 8px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave */
}

.button-container button:hover {
  background-color: #6f5d6f; /* Cambiar el fondo al pasar el cursor */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra más fuerte al hacer hover */
}

/* Estilos responsivos */
@media (max-width: 480px) {
  .login-card {
    width: 100%; /* Hacer que el formulario se ajuste a pantallas pequeñas */
    margin: 20px;
    border-radius: 10px;
  }

  .login-logo {
    max-width: 220px; /* Reducción del tamaño del logo en pantallas pequeñas */
  }
}
