.communities-container{
  display: block;
  padding: 1rem;
  overflow-y: auto; /* Scroll para muchas comunidades */
  width: 200px; 
  margin: 0 auto; /* Centrar horizontalmente */
  position: fixed;
  padding-bottom: 50px;
  scrollbar-gutter: stable;
}

@media (min-width: 100px) {
.communities-container{
  height: 10vh;
}}

@media (min-width: 1500px) {
  .communities-container{
    height: 40vh;
  }}

  .communities-container::-webkit-scrollbar {
    display: none; /* Oculta el scrollbar */
  }
  
  /* Botones de las comunidades */
  .workspace {
    background-color: #F1F1F1; /* Color del fondo */
    margin-bottom: 10px; 
    padding: 10px 20px; 
    display: flex; 
    align-items: center; 
    justify-content: center; /* Centrar el contenido */
    height: 50px; 
    color: white; 
    cursor: pointer; /* Interacción visual */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Efectos de hover */
    border: 1px solid #555; /* Agregar borde */
    border-radius: 0; /* Sin bordes redondeados */
  }
  
  /* Efecto hover */
  .workspace:hover {
    transform: scale(1.03); /* Efecto de zoom */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
    background-color: #7d5e7d;
  }
  
  /* Botón de navegación */
  .workspace .nav-button {
    font-size: 1rem; /* Tamaño de fuente */
    font-weight: bold; /* Texto destacado */
    text-decoration: none;
    color: #555; /* Color de texto */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Separación del contenido */
  }

  
  /* Encabezado */
  h6 {
    padding-top: 3em;
    text-align: center;
    font-weight: bold;
    color: #66576c
  }
  