<h6>My Communities</h6>


<div  class="communities-container">
  <mat-list-item *ngFor="let workspace of arrUsr().userWorkspaces; let i = index" class="workspace">
    <a mat-button class="nav-button" href="#" (click)="setCurrentWorkspaceId(workspace._id); showSection('workspace', workspace._id); $event.preventDefault();">
      {{ workspace.workSpaceName }}
    </a>
  </mat-list-item>

  <div *ngIf="arrUsr()?.userWorkspaces?.length === 0"> 
    <p>User doesn't have any communities assigned</p>
  </div>
</div>
