/* Contenedor con scroll para las comunidades */
.communities-container {
    display: block;
    padding: 1rem;
    border-radius: 8px;
    overflow-y: auto; /* Scroll para muchas comunidades */
    max-height: calc(25px * 3 + 8px * 2); /* 3 elementos de 50px de altura + 2 espacios de margen */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
  }
  
  .communities-container::-webkit-scrollbar {
    display: none; /* Oculta el scrollbar */
  }
  
  /* Botones de las comunidades */
  .workspace {
    background-color: #292929;
    border-radius: 30px; /* Redondeo completo */
    margin-bottom: 10px; 
    padding: 10px 20px; 
    display: flex; 
    align-items: center; 
    justify-content: center; /* Centrar el contenido */
    height: 50px; 
    color: white; 
    cursor: pointer; /* Interacción visual */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Efectos de hover */
  }
  
  .workspace:hover {
    transform: scale(1.03); /* Efecto de zoom */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
    background-color: #7d5e7d; /* Fondo más claro */
  }
  
  .workspace .nav-button {
    font-size: 1rem; /* Tamaño de fuente */
    font-weight: bold; /* Texto destacado */
    text-decoration: none;
    color: #555; /* Color de texto */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Separación del contenido */
  }
  
  .workspace .nav-button:hover {
    color: white; /* Color al pasar el mouse */
  }
  
  /* Encabezado */
  h6 {
    padding-top: 3em;
    text-align: center;
    font-weight: bold;
  }
  