<!-- footer.component.html -->
<mat-toolbar class="custom-toolbar">
    <span class="spacer"></span>
    <nav>
      <ul class="nav-list">
        <li class="nav-item">
          <a mat-button routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a mat-button routerLink="/">About us</a>
        </li>
        <li class="nav-item">
          <a mat-button [routerLink]="['/policy']">Privacy & Cookies Policy</a>
        </li>
        <li class="nav-item">
          <a mat-button [routerLink]="['/policy']">Log In</a>
        </li>
      </ul>
    </nav>
  </mat-toolbar>
  