/* Contenedor principal: Dividir en dos secciones */
.login-container {
  display: flex;
  min-height: 100vh; /* Ocupa al menos toda la altura de la pantalla */
  box-sizing: border-box;
}

/* Lado Izquierdo: Imagen de Fondo */
.left-side {
  width: 70%;
  background-image: url('../../../../../../public/images/prueba1.png'); /* Ruta a tu imagen */
  background-color: #421442;
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat;
}

/* Lado Derecho: Fondo de Color y Centrado del Contenido */
.right-side {
  width: 50%;
  background-color: #f1f1f1; /* Color deseado para el lado derecho */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  padding: 20px;
  box-sizing: border-box;
}

/* Estilo de la tarjeta de login */
.login-card {
  width: 100%;
  max-width: 450px;
  padding: 15px; /* Aumenta el padding para mejor estética */
  background-color: #f1f1f1;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  color: #e8e8e8; /* Color de texto */
}

.login-logo{
  display: fl;
  max-width: 100px;
}

/* Estilos para los campos del formulario */
.full-width {
  width: 100%;
}

.forgot {
  display: block;            /* Convierte el enlace en un elemento de bloque */
  width: 100%;               /* Hace que el enlace ocupe todo el ancho disponible */
  text-align: right;         /* Alinea el texto a la derecha */
}

.forgot:hover {
  text-decoration: underline; /* Añade subrayado al pasar el cursor */
}
mat-form-field {
  width: 100%;
}


/* Estilos para los botones */
.button-container {
  width: 100%;
  margin-top: 30px;
}

.noaccount{
  color: #050505 !important;
  font-size: 80%;
  margin-right: 2%;
}


.button-container button {
  width: 100%;
  margin-bottom: 2%;
}

/* Estilos para las acciones de la tarjeta */
mat-card-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

mat-card-actions span {
  color: #e8e8e8; /* Color de texto */
}

mat-card-actions button {
  color: #f1f1f1;
  background-color: transparent;
}

mat-card-actions button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* ReCAPTCHA */
.g-recaptcha {   
  display: flex;
  justify-content: center; /* Centra horizontalmente */   
  margin-bottom: 10px; 
}

/* Botones principales */
.button-container button {
  background-color: #66576c; /* Fondo oscuro */
  color: white; /* Texto blanco */
  border-radius: 8px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave */
}

.button-container button:hover {
  background-color: #7d5e7d; /* Cambiar el fondo al pasar el cursor */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra más fuerte al hacer hover */
}

/* Estilos responsivos */
@media (max-width: 1024px) {
  .login-container {
    flex-direction: column;
  }

  .left-side, .right-side {
    width: 100%;
    height: 50vh;
  }
}

@media (max-width: 768px) {
  .left-side {
    height: 30vh;
  }

  .right-side {
    height: auto;
    padding: 10px;
  }

  .login-card {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .left-side {
    height: 20vh;
  }

  .login-card {
    padding: 15px;
  }
}
