<div class="login-container">
  <!-- Lado Izquierdo: Imagen de Fondo -->
  <div class="left-side"></div>

  <!-- Lado Derecho: Logo, Lettering y Formulario -->
  <div class="right-side">
    <!-- Contenedor para el logo y el lettering -->
    <div class="logo-container">
      <img src="images/LOGOGHOST_ONLYPNG_PURPLE.png" alt="Logo" class="login-logo">
      <img src="images/LETTERING_FINAL_PURPLE.png" alt="Logo" class="login-letter">
    </div>

    <!-- Formulario de inicio de sesión -->
    <mat-card class="login-card">
      <mat-card-content>
        <form (ngSubmit)="onSubmit()" ngNativeValidate>
          <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input matInput type="text" [(ngModel)]="username" name="username" required>
          </mat-form-field>
          <a class="forgot" href="/auth/resetPswd1">Forgot password?</a>
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" [(ngModel)]="password" name="password" required minlength="8" />
            <button mat-icon-button matSuffix (click)="clickEvent($event)" type="button">
              <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
          <br>
          <div class="g-recaptcha" data-sitekey="6LftFJEqAAAAAMsugjoDFn7ZhLQVdu5cuEzyHAOR"></div>
          <div class="button-container">
            <button mat-raised-button color="primary" type="submit">Login</button>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <div>
          <span class="noaccount">Don't have an account yet?</span>
          <a class="newaccount" href="/auth/register1">Register now</a>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
