<!-- <mat-toolbar class="custom-toolbar">
  <span class="toolbar-title">Enki</span>
  <span class="spacer"></span>
  <nav>
    <ul class="nav-list">
      <li class="nav-item">
        <a mat-button routerLink="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a mat-button routerLink="/about">Opción2</a>
      </li>
      <li class="nav-item">
        <a mat-button routerLink="/services">Opción3</a>
      </li>
      <li class="nav-item">
        <a mat-button routerLink="/contact">Opción4</a>
      </li>
      <li class="nav-item">
        <a mat-button color="accent" routerLink="/login1">Login</a>
      </li>
    </ul>
  </nav>
</mat-toolbar> -->
