<mat-toolbar class="custom-toolbar" *ngIf="showHeaderAndBody">
  <span class="toolbar-title">Enki</span>
  <!-- <img src="images/LETTERING_FINAL_WHITE.png" alt="Letter" class="login-letter"> -->
  <span class="spacer"></span>
  <nav>
    <ul class="nav-list">
      <li class="nav-item">
        <a mat-button routerLink="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a mat-button routerLink="/">Nosotros</a>
      </li>
      <li class="nav-item">
        <a mat-button [routerLink]="['/dashboard']">Dashboard</a>
      </li>
      @if(cookieExists){
        <li  class="nav-item">
          <a mat-button (click)="onLogout()" >Log Out</a>
        </li>
      }@else{
        <li  class="nav-item">
          <a mat-button [routerLink]="['/register0']">Log In</a>
        </li>
      }
      
    </ul>
  </nav>
</mat-toolbar>
