<div class="profile-container">
  <img src="images/LOGOGHOST_ONLYPNG_WHITE.png" alt="Logo" class="login-logo">
  
  <mat-card class="profile-card">
    <mat-card-content>
      <!-- Formulario de inicio de sesión -->
      <form (ngSubmit)="onSubmit()">
        <!-- Campo para el nombre de usuario -->
        <span>Nombre de perfil</span>

        @if (edit){
        <mat-form-field class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput type="text"  [(ngModel)]="arrUsr().user" name="profilename" required> <!--ngmodel tiene que pillar nombre de perfil "userprofile" no user (nombre de usuario)-->
        </mat-form-field>
        }@else{
          <p>{{arrUsr().user}}</p>
        }


        <!-- Campo para la contraseña -->
        <span>Nombre de usuario</span>
        @if (edit){
        <mat-form-field class="full-width">
          <mat-label>Usuario</mat-label>
          <input matInput type="text" [(ngModel)]="arrUsr().user" name="username" required>
        </mat-form-field>
        }@else{
        <p>{{arrUsr().user}}</p>
        }

        <span>Correo electrónico</span>
        @if (edit){
        <mat-form-field class="full-width">
          <mat-label>Correo</mat-label>
          <input matInput type="text" [(ngModel)]="arrUsr().mail" name="email" required>
        </mat-form-field>
        }@else{
        <p>{{arrUsr().mail}}</p>
        }

        <span>Contraseña</span>
        @if (edit){
          <mat-card-actions>
            <button mat-button color="accent" (click)="goToResetPwd()">Recuperar contraseña</button> <!--(click)="recoverPass()"-->
          </mat-card-actions>
        }@else{
        <p>--------</p>
        }

        @if (edit){
        <!-- Botón para iniciar sesión -->
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Confirmar cambios</button>
        </div>

        }@else{
          <span>Se unió a ENKI el</span>
          <p>{{formattedDate}}</p>

          <div class="button-container">
            <button mat-raised-button color="primary" type="submit">Modo Edición</button>
          </div>
        } 

        <div class="avatar">
          <img src="images/avatar.jpg">
        </div>
      </form>
    </mat-card-content>

  </mat-card>
</div>  
