.custom-toolbar {
  display: flex;
  justify-content: center; /* Centra el contenedor horizontalmente */
  align-items: center; /* Centra el contenedor verticalmente */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  padding: 0;
  background-color: transparent;
}

.toolbar-container {
  display: flex;
  flex-direction: column; /* Alinea los elementos en una columna */
  align-items: center; /* Alinea el contenido al centro */
  padding: 20px;
  background-color: #f5f5f5; /* Un fondo claro para contrastar */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  min-width: 400px; /* Un ancho mínimo para el contenedor */
}

.vertical-nav-admin,
.vertical-nav-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; /* Ajusta el ancho de la barra de navegación */
  padding: 20px 10px;
  border-radius: 15px; /* Bordes más redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Añade una sombra más fuerte */
  box-sizing: border-box;
}

.toolbar-title {
  margin-bottom: 20px; 
  color: rgb(157, 13, 13); 
  font-size: 24px; 
  text-align: center;
}

.nav-list {
  list-style-type: none; /* Quita los puntos de la lista */
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-item {
  margin-bottom: 10px;
  width: 100%;
}

a[mat-button] {
  width: 100%;
  text-align: left;
  color: white;
  border-radius: 5px;
  display: block;
}

a[mat-button]:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Fondo más claro al pasar el cursor */
}

.admin-background {
  background-color: #2196F3; 
  min-height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
}

.user-background {
  background-color: #e40404; 
  min-height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
}

.toolbar-image{
  width: 500px; 
  height: auto;
  margin-bottom: 20px;
  border-radius: 15px; 

}

.body{
  background-color: #e40404;
}

.total{
  background-color: #4D4850;
  height: 100vh
}