
<div class="total">


<mat-toolbar class="custom-toolbar">



  <div class="toolbar-container" [ngStyle]="{'background-color': (arrUsr().rol === 'superAdmin') ? '#66576C' : (arrUsr().rol === 'usuario') ? '#a55d00' : '#777777'}"
  >
  <img src="images/enki2.png" alt="Enki Logo" class="toolbar-image">
  <h2>Bienvenido {{arrUsr().user}} Rol:{{arrUsr().rol}}</h2>
    <!-- Título de la barra de herramientas -->
    <!-- <span class="toolbar-title">Enki</span> -->
   
    <!-- Contenedor del menú de navegación -->
    <nav class="vertical-nav" >
      <ul class="nav-list">
        <li class="nav-item">
          <a mat-button routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a mat-button routerLink="/resetPswd" (click)="onClick()">Cambiar Password</a>
        </li>
        <li class="nav-item">
          <a mat-button routerLink="/">Tus grupos</a>
        </li>
        <li class="nav-item">
          <a mat-button routerLink="/">Opción4</a>
        </li>
        <li class="nav-item">
          <a mat-button color="accent" routerLink="/" (click)="onClick()">Salir</a>
        </li>
       
        <li class="nav-item" *ngIf="arrUsr().rol === 'superAdmin'">
          <a mat-button color="accent" routerLink="/" (click)="onClick()">Esto solo será visible si eres superAdmin</a>
        </li>
      </ul>
    </nav>
  </div>

</mat-toolbar>

</div>