/* Contenedor principal: Centrar logo y tarjeta de login */
.profile-container { 
  display: flex;
  flex-direction: column; /* Alinear logo y tarjeta en columna */
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Asegurar que ocupe al menos toda la pantalla */
  background: linear-gradient(to bottom, #5b5661, #c6b3ce);
  padding: 20px;
  gap: 20px; /* Espaciado entre los elementos */
  box-sizing: border-box; /* Asegura que el padding se respete */
}

/* Estilo de la tarjeta de login */
.profile-card {
  width: 100%; /* Usar todo el ancho disponible */
  max-width: 400px; /* Límite máximo de 400px */
  padding: 20px;
  background-color: #66576C;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra suave */
  border-radius: 12px; /* Bordes redondeados */
  margin-top: 140px;
  margin-bottom: 20px; /* Asegurar que haya espacio debajo en pantallas pequeñas */
  padding-top: 35px;
}

.avatar {
  position: absolute;
  top: -85px;
  left: 50%;
  transform: translate(-50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #3a3a3a
  cursor pointer;
}

.avatarNoEdit {
  position: absolute;
  top: -85px;
  left: 50%;
  transform: translate(-50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #3a3a3a
}

.avatar img{
  width: 120px;
  height: 120px;
  object-fit: cover;
  background-color: black;
  transition: transform 0.3s ease;
}

.avatarNoEdit img{
  width: 120px;
  height: 120px;
  object-fit: cover;
  background-color: black;
}

.avatar:hover img {
  transform: scale(1.25); /* Efecto de zoom al pasar el cursor */
}

.avatar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Blanco semitransparente */
  opacity: 0; /* Capa invisible por defecto */
  transition: opacity 0.3s ease; /* Animación suave de opacidad */
  z-index: 1; /* Asegura que la capa esté encima de la imagen */
}

.avatar:hover::after {
  opacity: 1; /* Muestra la capa blanca al hacer hover */
}

.avatar input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Hacer el input invisible */
  cursor: pointer; /* Asegurar que el cursor cambie a pointer */
  z-index: 2; /* Colocar el input sobre la imagen */
}

/* Asegurar que los elementos llenen todo el ancho */
.full-width {
  width: 100%;
}

mat-card-title {
  color: #e8e8e8; /* Gris casi blanco */
}
mat-card-actions  {
  display: flex;          /* Habilita el uso de Flexbox */
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente si es necesario */
}
mat-card-actions button {
  color: white;
  background-color:#7d5e7d;
}

mat-card-actions button:hover {
  background-color:antiquewhite;
  color: black;
}

.button-container button {
  background-color: #232223; /* Fondo oscuro */
  color: rgb(255, 255, 255); /* Texto blanco */
  padding: 12px;
  width: 100%; /* Llenar todo el ancho */
  border-radius: 8px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave */
}

.button-container button:hover {
  background-color: #7d5e7d; /* Cambiar el fondo al pasar el cursor */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra más fuerte al hacer hover */
}

/* Estilo para el logo */
.login-logo, .login-letter {
  display: block;
  position: absolute;
  top: 20px; /* Ajusta la distancia desde la parte superior */
  right: 20px; /* Ajusta la distancia desde la parte derecha */
  max-width: 75px; /* Tamaño reducido del logo */
  width: auto;
  opacity: 0.85;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .login-card {
    width: 95%; /* Mantener un ancho casi completo */
    margin: 10px; /* Reducir margen */
  }

  .login-logo {
    max-width: 150px; /* Reducimos el tamaño del logo en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .login-card {
    width: 100%; /* Usar todo el ancho disponible */
    margin: 10px;
  }

  .login-logo {
    max-width: 120px; /* Reducir aún más el tamaño del logo en pantallas pequeñas */
  }
}

p {
  color: white;
}

span {
  color: rgb(216, 216, 216);
  font-weight: normal;
  text-shadow: #232223;
}