<div class="login-container">
  <img src="images/LOGOGHOST_ONLYPNG_WHITE.png" alt="Logo" class="login-logo">
  
  <mat-card class="login-card">
    <!-- MatCardContent para envolver el contenido principal del formulario -->
    <mat-card-content>
      <form (ngSubmit)="onSubmit(emailInput.value)">
        <!-- MatFormField crea un contenedor de campo de formulario que es estilizado por Angular Material -->
        <mat-form-field class="full-width">
          <!-- MatLabel define la etiqueta del campo (lo que aparece dentro de la caja) -->
          <mat-label>Enter your email</mat-label>
          <!-- MatInput es la directiva que le da estilo de Material al input. Se une a ngModel -->
          <input matInput type="email" [(ngModel)]="email" name="email" #emailInput required>
        </mat-form-field>
        
        <!-- Contenedor para el botón -->
        <div class="button-container">
          <!-- MatButton crea un botón estilizado, mat-raised-button añade elevación -->
          <button mat-raised-button type="submit">Continue</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
