/* Contenedor de los botones */
.toolscontainer{
  display: flex;
}
.categoryButtons {
    display: flex; 
    flex-wrap: wrap;
    gap: 1px; 
    justify-content: flex-end;
    border: none; 
    padding: 10px; 
    box-shadow: none !important;
    
  }
  
  /* Estilo para cada botón (ahora cuadro con borde redondeado) */
  .categoryButton {
    border-radius: 12px; 
    margin: 2px; 
    
    font-size: 12px; 
    transition: background-color 0.3s ease; 
    height: 36px; 
    min-width: 80px; 
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #66576c; 
    color: white; 

    
  }
  
  /* Fondo blanco al pasar el cursor */
  .categoryButton:hover {
    background-color: white; 
    transform: scale(1.05); 
    border-color:white; 
    color: black; 
  }