
  <div class="password-container">
    <img src="images/enki2.png" alt="Logo" class="login-logo">   
    <mat-card class="password-card">
      <mat-card-title>Cambio de contraseña</mat-card-title>
      <form (ngSubmit)="onSubmit()" ngNativeValidate>


        <mat-form-field appearance="fill">
          <mat-label>New Password</mat-label>
          <input matInput [type]="hide1() ? 'password' : 'text'" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required  minlength="8"/>
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent1($event)"
            [attr.aria-label]="'Hide password'"
            type="button"
            [attr.aria-pressed]="hide1()"
          >
            <mat-icon>{{hide1() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Confirm New Password</mat-label>
          <input matInput [type]="hide2() ? 'password' : 'text'" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" #emailInput required  minlength="8"/>
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent2($event)"
            [attr.aria-label]="'Hide password'"
            type="button"
            [attr.aria-pressed]="hide2()"
          >
            <mat-icon>{{hide2() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>



        <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Cambiar Contraseña</button>
      </div>
    </form>
    </mat-card>
  </div>
