<div class="login-container">
  <!-- Lado Izquierdo: Imagen de Fondo -->
  <div class="left-side"></div>

  <!-- Lado Derecho: Logo, Lettering y Formulario -->
  <div class="right-side">
    <!-- Contenedor para el logo y lettering -->
    <div class="logo-container">
      <img src="images/LOGOGHOST_ONLYPNG_PURPLE.png" alt="Logo" class="login-logo">
      <img src="images/LETTERING_FINAL_PURPLE.png" alt="Letter" class="login-letter">
    </div>

    <!-- Tarjeta de Nueva Contraseña -->
    <mat-card class="login-card">
      <!-- <mat-card-title class="form-title">New Password</mat-card-title> -->
      <mat-card-content>
        <form (ngSubmit)="onSubmit()" ngNativeValidate>
          <!-- Campo de Nueva Contraseña -->
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>New Password</mat-label>
            <input matInput [type]="hide1() ? 'password' : 'text'" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required minlength="8" />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent1($event)"
              [attr.aria-label]="'Hide password'"
              type="button"
              [attr.aria-pressed]="hide1()"
            >
              <mat-icon>{{hide1() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <!-- Campo de Confirmar Contraseña -->
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Confirm New Password</mat-label>
            <input matInput [type]="hide2() ? 'password' : 'text'" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required minlength="8" />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent2($event)"
              [attr.aria-label]="'Hide password'"
              type="button"
              [attr.aria-pressed]="hide2()"
            >
              <mat-icon>{{hide2() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <!-- Botón de Cambiar Contraseña -->
          <div class="button-container">
            <button mat-raised-button color="primary" type="submit">Change Password</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
