<mat-toolbar class="custom-toolbar">
  <span class="toolbar-title">Enki</span>
  <span class="spacer"></span>
  <nav>
    <ul class="nav-list">
      <li class="nav-item">
        <a mat-button routerLink="/">Start</a>
      </li>
      <li class="nav-item">
        <a mat-button routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a mat-button routerLink="/services">Servicies</a>
      </li>
      <li class="nav-item">
        <a mat-button routerLink="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a mat-button routerLink="/faq">FAQ</a>
      </li>
    </ul>
  </nav>
</mat-toolbar>

<div class="login-container">
  <img src="images/LOGOGHOST_ONLYPNG_WHITE.png" alt="Logo" class="login-logo">
  <mat-card class="login-card">
    <mat-card-title>Register</mat-card-title>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>User Name</mat-label>
        <input matInput type="text" id="userName" [(ngModel)]="userName" name="userName" required>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" id="passWord" [(ngModel)]="passWord" name="passWord" required minlength="8">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Repeat password</mat-label>
        <input matInput type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      </mat-form-field>
      <!-- Contenedor para el botón -->
      <div class="button-container">
        <button mat-raised-button type="submit">Continue</button>
      </div>
    </form>
  </mat-card>
</div>
