<div class="comment-section">
    <button mat-raised-button color="primary" (click)="openDialog()">Añadir Comentario</button>
    <h1>{{"Pagina:"+dialogresponse.page+" Texto:"+dialogresponse.text}}</h1>
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <div formArrayName="comments">
       <!-- <div *ngFor="let comment of arrComments(); let i = index" [formGroupName]="i">
          <mat-card>
            <mat-form-field appearance="outline">
              <mat-label>Comentario {{ i + 1 }}</mat-label>
              <input matInput formControlName="text" placeholder="Escribe tu comentario aquí">
            </mat-form-field>
<br>
            <mat-form-field appearance="outline" formGroupName="user">
              <mat-label>Usuario</mat-label>
              <input matInput formControlName="userName" placeholder="Nombre de usuario">
            </mat-form-field>
          </mat-card>
        </div> -->
        @for (item of arrComments(); track $index) {
          <mat-card>
            <h6>Comentario {{ $index + 1 }}</h6>
            <p>{{item.user.userName}}</p>
            <p>{{item.text}}</p>
            <button mat-raised-button type="button" (click)="deleteComment(item._id);" color="accent">Delete Comment</button>
          </mat-card>
        }
        

      </div>
      <button mat-raised-button color="accent" type="submit">Enviar Todos los Comentarios</button>
    </form>
</div>
