:host {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
  overflow: hidden; /* Previene el scroll lateral en el componente principal */
}

.home-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f8f7fa;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
}

.books-scroll-container {
  flex: 1; /* Toma el espacio restante disponible */
  overflow-y: auto; /* Solo el contenedor de libros tiene desplazamiento vertical */
  margin-top: 1em;
}

.findContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.searchBar {
  width: 40%;
  max-width: 100%; /* Limita el ancho máximo al contenedor */
}

.categoryButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Permite que las categorías se ajusten en varias líneas si es necesario */
  gap: 5px;
  width: 100%;
  max-width: 100%; /* Asegura que las categorías no se salgan del contenedor */
}

/* Configuración de CSS Grid en el contenedor de libros */
.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajuste automático del número de columnas */
  gap: 45px;
  margin-left: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  height: 100%;
  justify-content: flex-end

}

.bookCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  background-color: rgb(212, 211, 214);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px; /* Agregamos un poco de espacio interno */
}

.bookCard:hover {
  background:  
    linear-gradient(135deg, rgba(212, 211, 214, 1) 60%, rgba(180, 120, 255, 0.5) 100%),
    linear-gradient(-135deg, rgba(180, 120, 255, 0.5) 10%, rgba(212, 211, 214, 1) 40%);
    transition: background 3s ease-in-out;
}

.bookCard:hover .book-image {
  border: 4px solid rgb(110, 189, 235); /* Marco del mismo color que el fondo */
  border-radius: 10px; /* Bordes redondeados */
  transition: border 0.3s ease-in-out; /* Transición suave */
}

.text {
  width: 90%;
  height: 50px; /* Ajusta la altura según tu diseño */
  display: flex;
  overflow: hidden; /* Oculta el texto que se desborda */
  position: relative;
}

.tittle {
  color: black;
  text-align: left;
  font-size: 1.2em;
  box-sizing: border-box;
  margin: 0;
  position: absolute;
  left: 0;
  white-space: nowrap;
  transform: translateX(0);
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
}

.bookCard:hover .tittle {
  animation: scrollText 10s linear forwards; 
}

.bookCard .tittle {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  margin: 5%;
  border-radius: 10px;
  transition: border 0.3s ease-in-out; /* Transición suave */
}

.bookCard.hover-ended .tittle {
  transform: translateX(0); /* Vuelve a la posición original */
  transition: none; /* Elimina la transición */
}

@keyframes scrollText {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-150% - 10px)); } /* Desplaza todo el texto */
}

.book-image {
  width: 90%;
  height: 70%;
  border-radius: 4px;
  margin:5%;

  border: 4px solid rgb(176, 187, 126); /* Marco del mismo color que el fondo */
  border-radius: 10px; /* Bordes redondeados */
  transition: border 0.3s ease-in-out; /* Transición suave */
}

.book-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 5px;
  font-size: 1em;
  box-sizing: border-box;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.author {
  color: black;
  text-align: left;
  flex: 1; /* Ocupa el espacio disponible */
  overflow: hidden;
  text-overflow: ellipsis; /* Muestra "..." si el texto es muy largo */
  white-space: nowrap;
  padding-right: 4px;
  font-size: 0.8em;  
}

.rating {
  color: black;
  text-align: right;
  flex-shrink: 0; /* Evita que el rating se reduzca */
  margin-left: 10px; /* Espaciado entre el autor y el rating */
}


.pagination-controls {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%; /* Asegura que el paginador no se salga del contenedor */
}

