:host {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow: hidden; /* Previene el scroll lateral en el componente principal */
  
}

.findContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  width: 100%;
  max-width: 100%; /* Asegura que el contenedor del buscador no se salga del ancho disponible */
  
}

.searchBar {
  width: 40%;
  max-width: 100%; /* Limita el ancho máximo al contenedor */
}

.categoryButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Permite que las categorías se ajusten en varias líneas si es necesario */
  gap: 5px;
  width: 100%;
  max-width: 100%; /* Asegura que las categorías no se salgan del contenedor */
  background-color: #d1c5d6;
}

.home-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: ffffff;
  overflow: hidden;
}

.books-scroll-container {
  flex: 1; /* Toma el espacio restante disponible */
  overflow-y: auto; /* Solo el contenedor de libros tiene desplazamiento vertical */
  margin-top: 1em;
  width: 100%; /* Asegura que el contenedor de libros use el 100% del ancho disponible */
}

/* Configuración de CSS Grid en el contenedor de libros */
.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 60px; /* Más espacio entre las cartas */
  width: 100%;
  box-sizing: border-box;
}

.bookCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco semitransparente */
  backdrop-filter: blur(50px); /* Efecto difuminado */
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  margin-bottom: 30px;
  
}

.book-image {
  width: 100%;
  height: 180%; /* Altura fija para uniformidad */
  object-fit: absolute; /* Asegura que la imagen cubra el área sin distorsionarse */
  border-radius: 4px;
}

.tittle {
  color: black;
  text-align: left;
  font-size: 1em;
  margin: 10px 0 5px 0;
  width: 100%;
}

.textBox {
  width: 100%;
  text-align: left;
  font-size: 12px;
}

.pagination-controls {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%; /* Asegura que el paginador no se salga del contenedor */
}

