/* Contenedor principal: Centrar logo y tarjeta de login */
.login-container { 
  display: flex;
  flex-direction: column; /* Alinear logo y tarjeta en columna */
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Asegurar que ocupe al menos toda la pantalla */
  background: linear-gradient(to bottom, #5b5661, #c6b3ce);
  padding: 20px;
  gap: 20px; /* Espaciado entre los elementos */
  box-sizing: border-box; /* Asegura que el padding se respete */
}

/* Estilo de la tarjeta de login */
.login-card {
  width: 100%; /* Usar todo el ancho disponible */
  max-width: 400px; /* Límite máximo de 400px */
  padding: 20px;
  background-color: #66576C;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra suave */
  border-radius: 12px; /* Bordes redondeados */
  margin-top: 20px;
  margin-bottom: 20px; /* Asegurar que haya espacio debajo en pantallas pequeñas */
}

/* Asegurar que los elementos llenen todo el ancho */
.full-width {
  width: 100%;
}

mat-card-title {
  color: #e8e8e8; /* Gris casi blanco */
}

/* Estilo para los botones de mat-card-actions */
mat-card-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-card-actions span {
  display: block;
  margin-bottom: 5px;
}

mat-card-actions button {
  color: white;
}

mat-card-actions button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.button-container button {
  background-color: #353535; /* Fondo oscuro */
  color: rgb(255, 255, 255); /* Texto blanco */
  padding: 12px;
  width: 100%; /* Llenar todo el ancho */
  border-radius: 8px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave */
}

.button-container button:hover {
  background-color: #7d5e7d; /* Cambiar el fondo al pasar el cursor */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra más fuerte al hacer hover */
}

/* Estilo para el logo */
.login-logo, .login-letter {
  display: block;
  max-width: 240px; /* Ajustamos el tamaño del logo */
  width: 100%;
  opacity: 0.85;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .login-card {
    width: 95%; /* Mantener un ancho casi completo */
    margin: 10px; /* Reducir margen */
  }

  .login-logo, .login-letter {
    max-width: 150px; /* Reducimos el tamaño del logo en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .login-card {
    width: 100%; /* Usar todo el ancho disponible */
    margin: 10px;
  }

  .login-logo, .login-letter {
    max-width: 120px; /* Reducir aún más el tamaño del logo en pantallas pequeñas */
  }
}

