body, html {
  margin: 0;
  padding: 0;
  overflow: auto;
}

#gradient-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  z-index: 1; /* Asegura que el gradiente esté detrás del texto */
}

/* NAV */

#main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  padding: 30px 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container img {
  width: 40px; /* Limita el tamaño de la imagen */
  height: auto;
  margin-right: 40px;
  justify-content: space-between;
  align-items: center;
}

.name,
.nav-links a {
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.name::before, 
.nav-links a::before {
  content: attr(data-text); /* Usa el texto del enlace como contenido */
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100%; /* Comienza fuera de la vista, debajo */
  color: #ff9800; /* Cambia el color al reaparecer */
  transition: transform 0.3s, color 0.3s;
}

.name:hover::before, 
.nav-links a:hover::before {
  transform: translateY(-100%); /* Sube el texto hacia la vista */
}

.name:hover,
.nav-links a:hover {
  color: transparent;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  align-items: center;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  white-space: nowrap;
  animation: move-title 10s linear infinite; /* Ahora 10 segundos */
  overflow: hidden;
  color: white;
  z-index: 2;
}

@keyframes move-title {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  20% {
      transform: translateX(0);
      opacity: 1;
  }
  80% {
      transform: translateX(100vw);
      opacity: 0;
  }
  100% {
      transform: translateX(-100%);
      opacity: 0;
  }
}

canvas {
  min-width: 100%; 
  margin: 0;
  z-index: 1; /* Asegura que el canvas esté detrás del texto */
  position: relative;
}

.video-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 0; /* El video se encuentra al fondo */
}

#container {
  height: 500vh;
}

.split_text {
  position: absolute;
  z-index: 2; /* Asegura que el texto esté encima del canvas */
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 3rem;
  width: 80%;
  margin: auto;
  left: 10%;
  top: 75%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
  line-height: 1.5;
}

