body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita el desplazamiento */
}

#gradient-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex; /* Coloca los canvas uno al lado del otro o apilados */
}

#canvas1 {
  --gradient-color-1: #ff0000;
  --gradient-color-2: #00ff00;
  --gradient-color-3: #0000ff;
  --gradient-color-4: #ffff00;
}

#canvas2 {
  --gradient-color-1: #525252;
  --gradient-color-2: #66576c;
  --gradient-color-3: #d89df0;
  --gradient-color-4: #36dce7;
}