<div class="dashboard-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="side" opened>
      <div class="sidebar-logo">
        <img src="images/LOGOGHOST_ONLYPNG_WHITE.png" alt="Logo" class="sidebar-logo-img">
      </div>
      <mat-nav-list>
        <mat-list-item>
          <a mat-button class="nav-button" href="#" (click)="showSection('home'); $event.preventDefault()">Start</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-button class="nav-button" href="#" (click)="showSection('perfil'); $event.preventDefault()">Profile</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-button class="nav-button" href="#">Settings</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-button class="nav-button" href="#" (click)="onLogout(); $event.preventDefault()">LogOut</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content-area">
      <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>

      <div class="content-wrapper">
        <ng-container *ngIf="selectedSection === 'home'">
          <div class="profile-content">
            <app-homedash></app-homedash>
            <app-homedash></app-homedash>
          </div>
        </ng-container>

        <ng-container *ngIf="selectedSection === 'perfil'">
          <div class="profile-content">
            <app-perfil></app-perfil>
          </div>
        </ng-container>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
