/* Contenedor principal para el sidebar y el contenido */
.dashboard-container {
  display: flex;
  min-height: 100vh; /* Ocupar toda la altura de la ventana */
}

/* Sidebar: Estilo del menú de navegación lateral */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Ancho del sidebar */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background: linear-gradient(to bottom, #3f3b42, #66576C);   1f1d21    66576C
  padding: 20px;
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1000; /* Mantener el sidebar por encima del contenido */
}

/* Logo en el sidebar */
.sidebar-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.sidebar-logo-img {
  max-width: 80%; /* La imagen ocupará el 80% del contenedor */
  height: auto; /* Mantener proporción */
  opacity: 0.85;
  object-fit: contain;
}

/* Menú del sidebar */
.sidebar-menu {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Elementos del menú */
.sidebar-menu li {
  width: 100%;
}

/* Enlaces del menú */
.sidebar-menu li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 15px 20px;
  border-radius: 8px;
  display: block;
  width: 100%;
  transition: background-color 0.3s ease;
}

/* Efecto hover en los enlaces */
.sidebar-menu li a:hover {
  background-color: #7d5e7d;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
}

/* Estilo para el área de contenido a la derecha */
.content-area {
  margin-left: 250px;  /* Espacio reservado para el sidebar */
  padding: 0;          /* Eliminar el padding extra */
  flex-grow: 1;        /* Asegura que el contenido llene el espacio restante */
  background-color: #f5f5f5;  /* Color de fondo claro */
  height: 100vh;       /* Ocupa toda la altura de la ventana */
  overflow-y: auto;    /* Permite el scroll si el contenido es más grande */
  z-index: 1;          /* Asegura que no esté cubierto por otros elementos */
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
  .content-area {
    margin-left: 200px; /* Ajustar el espacio para el sidebar en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .content-area {
    margin-left: 180px; /* Ajustar el espacio para el sidebar en pantallas pequeñas */
  }
}

/* Estilos globales */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
