<div class="home-content">
  
  <!-- Primer Carrusel -->
  <div class="carousel-section">
    <h3>Biblioteca</h3>

    <mat-grid-list cols="4" rowHeight= "200px" gutterSize="100px">
      <mat-grid-tile *ngFor="let image of bookImages">  <!-- Usamos *ngFor para iterar sobre bookImages -->
        <div class="bookCard">
          <img [src]="image" alt="Imagen del libro" class="book-image" />
          <p>Title</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>    
    
  </div>

 
</div>