<div class="profile-container">
  <mat-card class="profile-card">
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" ngNativeValidate>
        <span>Username</span>
        @if (edit) {
        <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input matInput type="text" [(ngModel)]="arrUsr().user" name="username" required>
        </mat-form-field>
        }@else {
        <p>{{arrUsr().user}}</p>
        }

        <span>Email</span>
        @if (edit) {
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="text" [(ngModel)]="arrUsr().mail" name="email" required>
        </mat-form-field>
        }@else {
        <p>{{arrUsr().mail}}</p>
        }

        <span></span>
        @if (edit) {
          <p>Confirm Email</p>
          <mat-form-field class="full-width">
            <mat-label>Confirm Email</mat-label>
            <input matInput type="text" [(ngModel)]="this.confirmMail" name="confirmEmail" required>
          </mat-form-field>
        }

        <!-- Campo para la contraseña --> 
        @if (!edit){
          <span>Password</span>
          <mat-card-actions style="justify-content: left; margin: 0; padding: 0;">
            <button mat-button color="accent" (click)="goToResetPwd()">Recover password</button> <!--(click)="recoverPass()"-->
          </mat-card-actions>
        }

        @if (edit) {
          <div class="button-container">
            <button mat-raised-button color="primary" type="submit" [disabled]="!emailsMatch()">Confirm changes</button>
          </div>
        }@else {
          <span>Joined ENKI at</span>
          <p>{{formattedDate}}</p>

          <div class="button-container">
            <button mat-raised-button color="primary" type="submit">Edit mode</button>
          </div>
        }
      </form>
    </mat-card-content>
  </mat-card>
</div>
