<!-- workspace.component.html -->
<!-- <p>workspace works!</p>
<div>
  <button mat-button (click)="showSectionW('library')">Go to Library</button>
</div>
<div>
  <button mat-button (click)="showSectionW('home')">Go to homedash</button>
</div>
<div>
  <button mat-button (click)="showSectionW('both')">Show Both Components</button>
</div>

<mat-list-item></mat-list-item> -->

<!-- <app-commentbox></app-commentbox>
<div class="content-wrapper">
  <ng-container *ngIf="selectedSection === 'library'">
    <div>
      <app-library></app-library>
    </div>
  </ng-container>

  <ng-container *ngIf="selectedSection === 'home'">
    <div>
      <app-homedash></app-homedash>
    </div>
  </ng-container>

  <ng-container *ngIf="selectedSection === 'both'">
    <div>
      <app-library></app-library>
      <app-homedash></app-homedash>
    </div>
  </ng-container>
</div> -->

<mat-grid-list cols="4" rows="4"rowHeight="1:1">
  <mat-grid-tile class="timeline-tile" colspan="3" rowspan="1">
    <app-timeline></app-timeline>
  </mat-grid-tile>
  <mat-grid-tile class="book-tile" colspan="1" rowspan="1" >
    libro
  </mat-grid-tile>
  <mat-grid-tile class="commentbox-tile" colspan="3" rowspan="1">
    <app-commentbox style="overflow: scroll;" [currentWorkspaceId]="currentWorkspaceId"></app-commentbox>
  </mat-grid-tile>
  <mat-grid-tile class="users-tile" colspan="1" rowspan="1">
    users
  </mat-grid-tile>
</mat-grid-list>